{% extends "toolkit/layouts/_base_page.html" %}
{% import "toolkit/forms/macros/forms.html" as forms %}

{% block page_title %}What buyers will see – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".supplier_details"),
        "label": "Company details"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
{% include "toolkit/forms/validation.html" %}

  <div class="grid-row">
    <div class="column-one-whole">
      {% with
        heading = "What buyers will see"
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}

      <div class="dmspeak">
        <p>This information will be visible on the Digital Marketplace.</p>
        <p>You can change it at any time.</p>
      </div>
    </div>
  </div>

  <form action="{{ url_for('.edit_what_buyers_will_see') }}" method="post">

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div class="grid-row">
    <div class="column-two-thirds">

      {{ forms.question_textbox(contact_form.contactName.name, contact_form.contactName.question, contact_form.contactName.value, contact_form.contactName.hint, errors=contact_form.contactName.errors) }}
      {{ forms.question_textbox(contact_form.email.name, contact_form.email.question, contact_form.email.value, contact_form.email.hint, errors=contact_form.email.errors) }}
      {{ forms.question_textbox(contact_form.phoneNumber.name, contact_form.phoneNumber.question, contact_form.phoneNumber.value, errors=contact_form.phoneNumber.errors) }}


      {{ forms.question_textarea(supplier_form.description.name, supplier_form.description.question, supplier_form.description.value, supplier_form.description.hint, errors=supplier_form.description.errors, max_length_in_words=supplier_form.description.widget.max_length_in_words) }}
    </div>
  </div>

  {%
    with
    type = "save",
    label = "Save and return"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  <p>
    <a href="{{ url_for('.supplier_details') }}">Return to company details</a>
  </p>
  </form>

{% endblock %}
